@import url('variables.css');

* {
	padding: 0;
	margin: 0;
	font-family: Avenir, sans-serif;
	transition-duration: 0.4s;
}

body {
	background-color: var(--background-initial);
	color: var(--text-initial);
}

header {
	background-color: var(--primary);
	color: white;
	padding: 128px;
	text-align: center;
	margin-top: 56px;
}
div.content {
	padding: 64px;
}
footer {
	background-color: var(--secondary);
	color: white;
	padding: 64px;
}

#navbar {
	background-color: var(--primary);
	height: 56px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
#navbar > a {
	color: white;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	height: 100%
}
#navbar > a:hover {
	background-color: #00000050;
}
