@import url('variables.css');
@import url('typography.css');

* {
	padding: 0;
	margin: 0;
	font-family: Avenir, sans-serif;
	transition-duration: 0.4s;
}

body {
	background-color: var(--background-initial);
	color: var(--text-initial);
}

header {
	background-color: var(--background-darker);
	color: var(--primary);
	padding: 128px;
	text-align: center;
}
div.section {
	padding: 48px;
}
footer {
	background-color: var(--secondary);
	color: white;
	padding: 48px;
}

a {
	text-decoration: none;
	font-weight: 500;
	color: var(--primary);
}

img {
	border-radius: 12px;
	max-height: 100%;
}
#main-logo {
	height: 128px;
	width: 128px;
	border-radius: 32px;
	margin-bottom: 32px;
	box-shadow: 0 3px 5px 2px var(--shadow);
}
.icon {
	height: 16px;
	width: 16px;
	border-radius: 8px;
	transform: translate(0, 3px);
}

.btn {
	background-color: var(--background-lighter);
	padding: 8px 16px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
}
.btn-white {
	background-color: white;
}
.btn-discord {
	background-color: #5865f2;
}
.btn-filled {
	background-color: var(--primary);
}
.btn-discord a,
.btn-filled a {
	color: white;
}

div.box {
	background-color: var(--secondary);
	color: white;
	border-radius: 16px;
	padding: 32px;
	margin: 16px 0;
	box-shadow: 0 3px 5px 2px var(--shadow);
}
div.box > h3 {
	color: white;
}
#pro {
	background-color: var(--primary);
}

.navbar {
	background-color: var(--primary);
	height: 48px;
	padding: 4px 48px;
}

.navbar > button {
	height: 100%;
	padding: 0 16px;
	margin: 0 2px;
	background-color: transparent;
	border: none;
	border-radius: 6px;
}
.navbar > button:hover {
	background-color: #00002020;
}
.navbar > button > a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
}

.navbar img.logo {
	height: 48px;
	margin: 0 2px;
	background-color: transparent;
	border: none;
	border-radius: 6px;
}
.navbarIcon {
	height: 24px;
	width: 24px;
	border-radius: 0;
}
.navbar * {
	font-size: 16px;
}

.left {
	float: left;
}
.right {
	float: right;
}

@media (max-width: 480px) {
	header, div.section,  footer {
		padding: 32px;
	}
	footer {
		padding-bottom: 96px;
	}
	
	div.box {
		border-radius: 16px;
		padding: 32px;
	}
	.btn {
		border-radius: 6px;
	}
	
	.navbar {
		padding: 4px;
		background-color: transparent;
	}
	.navbar > button:hover {
		background-color: var(--primary);
	}
	#navbar {
		display: none;
	} 
	#navbar-mobile {
		display: inherit;
		background-color: var(--secondary);
		position: fixed;
		bottom: 16px;
		right: 18px;
		left: 18px;
		border-radius: 6px;
		text-align: center;
		box-shadow: 0 3px 5px 2px #00002040;
	}
}
