@import url('variables.css');

:root {
	font-size: 16px;
}

h2 {
	color: var(--primary);
	font-size: 28px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 32px;
}
h3 {
	color: var(--secondary);
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 24px;
}

p {
	margin: 16px 0;
}

li {
	list-style-type: none;
}


.price {
	text-align: center;
	align-self: center;
	background-color: #ffffff;
	color: var(--primary);
	box-shadow: 0 2px 4px 2px var(--primary);
	padding: 8px;
	border-radius: 32px;
} 


@media (max-width: 480px) {
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}
	p { 
		margin: 8px 0;
	}
}
