@import url('variables.css');

:root {
	font-size: 16px;
}

h2 {
	color: var(--primary);
	font-size: 28px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 32px;
}
h3 {
	color: var(--secondary);
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 24px;
}


li {
	list-style-type: none;
}

@media (max-width: 480px) {
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}
}
